* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  :root {
    --main-color: #2196f3;
 
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;

  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Cairo", sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  .main-page{
    background-color:white;
    z-index: -1;
    min-height: 100vh;
    transition: 0.5s;
  }

  .main-page .container{
    position: relative;
  }

  .main-page .container .heigh-side ,.main-page .container .low-side{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .high-side-back{
    width: 100%;
    height: 40vh;
    z-index: 3;
    position: relative;
    background-image: url(/images/study1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .high-side-back::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
   background-color: rgb(152, 152, 152);
    opacity: 0.2;
    z-index: 0;
  }

  .high-side-back input{


  }

  .high-side-back .container .high-side{
    color: white;
    z-index: 2;
    opacity: 1;
    
}

.options{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    position: absolute;
    right: 0;
    top:50px;

}


.options i{
    color: rgb(70, 70, 70);
    font-size: 22px;
    font-weight: 900;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    justify-items: center;
    justify-content: center;
    position: relative;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 1px 0px 15px 1px rgb(166, 163, 163) inset;
}

  .heigh-side h2{
    color: rgb(252, 175, 188);
    transition: 0.3s;
    font-size: 65px;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
  }
  .heigh-side .input-field input{
    width: 500px;
    height: 45px;
    font-size: 20px;
  }

  .input-field{
    position: relative;
    margin-bottom: 20px;

  }

 

  .heigh-side .input-field i{
  position: absolute;
  right: 0;
  top:50%;
  color: rgb(252, 175, 188);
  transition: 0.3s;
  font-weight:900 ;
  font-size:25px;
  transform: translateY(-50%);
  margin-right: 5px;
  }

   .low-side-back{
    padding-bottom: 50px;
    }

    .about-color{
        width: 250px; 

    }

    .colors-holder{
     background-color:white;
     position: absolute;  
     height: fit-content;
     width: 200px; 
     top: 0;
     left: 0;
     text-align: center;
     display: none;
     padding-bottom: 15px;
     text-align: center;
     z-index: 99;
     padding-left: 2px;
     padding-right: 2px;
    }
    .colors{
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px;

    }
    .background-img-holder h3{
      color: white;
      font-size: 18px;

    }
    .back-inputs{
      display: flex;
      justify-content: center;
      align-items: center;
      gap:25px;
    }
    .background-img-holder input{
      width: 50px;
      }

    .colors-holder .colors h3{
      font-size: 20px;
      margin-top: 15px;
    }

    .colors-holder::before{
    content: '';
    position: absolute;
    /* background-color: red; */
    top:13px;
    right:-9px;
    border: 9px solid transparent; 
    border-right-color:rgb(54, 50, 50);
    }

    

    .bullets span{
        
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: 3px;
    }
    .bullets span:first-child{
        background-color: rgb(252, 175, 188);
    }

    .bullets span:nth-child(2){
        background-color: rgb(102, 175, 235);
    }
    .bullets span:nth-child(3){
 
        background-color: rgb(112, 194, 190);
    }
    .bullets span:nth-child(4){

        background-color: rgb(177, 142, 211);
    }


    .bullets span:last-child{
        background-color: rgb(240, 175, 101);
    }

    .low-side-back .container .low-side{
        color: black;
        margin-top: 40px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }





  .light-color{
        color: white;
    }

  .dark-color{
        color: black;
    }

  .light{
    background-color: white !important;
  }

  .dark{
    background-color: black !important;
  }

  .show{
    display: block;
  }

 .activated{
  display: flex !important;
 }

 .desactivated{
  display: none !important;

 }

 .mode-icon{
  position: relative;
  height: 100px;
  width:40px;
 }

 .mode-icon i{
  position: absolute;
 }

 .mode-icon i:first-child{
  display:none;
}

.options .gear{
  animation: rotation 5s linear  infinite ;
}

@keyframes rotation{

  0%{
    transform: rotate(0);
  }

  100%{
    transform: rotate(360deg);
  }
}


/* Surposition du btn edit et save: */

.low-side .task-added{

  width: 500px;
  min-height: 60px;
  background-color: rgb(252, 175, 188);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  transition: 0.3s;
  
}

/* content side */

.contentSide{
  position: relative;
  width: 100%;
}
.low-side .task-added span{
  position: relative;
  font-size: 25px;
  z-index: 0;
  width: 100%;
  padding-left: 3px;
  display: flex;
  align-items: center;
  height: 40px;

}


.low-side .task-added .contentSide input{
  z-index: 1;
  position: relative;
  width: calc(100% - 60px);
  height: 40px;
  border-radius: 2px;
  display: none;
  font-size: 25px;
}

/* input=>display:block 
   span posiiition :absolute
*/




/* icons side */

.low-side .task-added .icons {
  position: relative;
   gap: 25px;
   display: flex;
 }
 
.task-added  .icons i{
  padding: 0;
  font-size: 20px;

}
.edit-save{
  position: relative;
  padding-left: 5px;
}

.edit-save .fa-floppy-disk{
  position: absolute;
  top: 0;
  left: -10px;
  color: red;
}

.edit-save .fa-pen-to-square{
  position: absolute;
  top: 0;
  left: -10px;
  color: green;
}


  
